{% extends "new_base.html" %}
{% block title %}HTTP错误 - 500{% endblock %}


{% block main_wrapper %}
<div class="jumbotron masthead" id="home">
    <div class="container">
        <div class="row">
        <div class="col-md-12 jumbotron-content">
            <h1>500</h1>
            <h2>服务器出了点问题</h2>
            <h4>&nbsp;</h4>
            <p class="masthead-button-links">
                <a class="btn btn-lg btn-pink btn-shadow" href="/aescu/index" role="button">返回首页</a>
            </p>
        </div>
    </div>
</div>
{% endblock%}